<div class="container">
    <div class="text-center m-5">
        <h1 class="text-danger">Eat Da Burger</h1>
    </div>
</div>
<div class="container">
    <div class="row text-center my-5">
        <div class="col-6">
            <h3>Available burgers</h3>
            <div class="allBurgers">
                <ul>
                    {{#if burgers}}
                    {{#each burgers}}
                    {{> burger}}
                    {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <h3>Devoured burgers</h3>
        </div>
    </div>
    <form action="/" method="GET">
        <div class="row my-5">
            <div class="col-12 text-center">
                <button class="btn btn-success" href="/">Add more burgers</button>
            </div>
        </div>
    </form>
</div>