<div class="container">
    <div class="text-center">
        <h1>Eat Da Burger</h1>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <h3>Burgers</h3>
        </div>
        <div class="col-6 text-center">
            <h3>Devoured burgers</h3>
        </div>
    </div>
</div>